ul.menu>li {
    display: inline-block;
    position: relative;
}

ul.menu>li>a {
    display: block;
    text-decoration: none;
    font-variant: small-caps;
    font-size: large;
    color: white;
    padding: 0 10px;
    line-height: 40px;
}

ul.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
    background-color: orangered;
    text-align: center;
}

ul.menu>li>a:hover {
    color: yellow;
}

ul.menu ul {
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 1px gray;
}

ul.menu ul a {
    display: block;
    line-height: 30px;
    color: orangered;
    text-decoration: none;
    font-variant: small-caps;
    font-size: large;
    padding: 0 10px;
}

ul.menu>li:hover>ul {
    display: block;
}

ul.menu ul a:hover {
    background-color: orangered;
    color: white;
}